version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: quarterly

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: quarterly
    groups:
      updates:
        patterns: ["*"]
        update-types:
          - minor
          - patch
      major-updates:
        patterns: ["*"]
        update-types:
          - major
