name: main

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: "${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}"
      - run: npm install
      - run: npm run build
